/*{
 font-family: inherit !important;
}
/*font,
span[style]{
 text-decoration:none !important;
 font-size: 100% !important;
 font-family: serif !important;
 color: inherit  !important;
}

pre{ font-family: monospace !important; }*/